@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 2px 2px 4px white;
}
nav .nav-left {
  flex: 1;
}
nav .nav-left img {
  width: 90px;
  padding: 10px 80px;
  box-shadow: none;
}
nav .nav-right {
  flex: 1;
}
nav .nav-right ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}
nav .nav-right ul li a:hover {
  color: purple;
}
nav .nav-right ul li:hover {
  border-bottom: 3px solid orange;
}
nav .nav-right ul .feedback {
  border: 3px solid orange;
  padding: 5px 10px;
  border-radius: 10px;
}
nav .nav-right ul .feedback:hover {
  background-color: orange;
  border: none;
}
nav .nav-right ul .feedback:hover a {
  color: purple;
}

footer {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 35vh;
}

footer h2,
footer p {
  color: black;
  padding: 10px;
}

.media-images,
.media-name {
  width: 50px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.social-media img:nth-child(1),
.social-media img:nth-child(2),
.social-media img:nth-child(3) {
  width: 40px;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/local-food-singapore.webp);
  height: 90vh;
}
@media screen and (max-width: 1024px) {
  header {
    height: 65vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 600px) {
  header {
    background-size: cover;
  }
}
header .text .text-head {
  border-radius: 20px;
  background-color: rgba(245, 222, 179, 0.573);
  width: 50%;
}
header .text .text-head h1 {
  margin-top: 150px;
  padding: 50px 100px;
  font-size: 60px;
}
@media screen and (max-width: 1024px) {
  header .text .text-head h1 {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 600px) {
  header .text .text-head h1 {
    font-size: 45px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  header .text .text-head {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  header .text .text-head {
    width: 100%;
  }
}
header .text .btn {
  padding: 20px;
  font-size: 20px;
  margin-left: 200px;
  margin-top: 20px;
  background-color: wheat;
  width: 60%;
}
@media screen and (max-width: 600px) {
  header .text .btn {
    font-size: 14px;
    margin-left: 80px;
    width: 70%;
  }
}

html {
  scroll-behavior: smooth;
}

.text-schedule {
  padding: 20px 100px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .text-schedule {
    padding: 10px 30px;
  }
}
.text-schedule h1 {
  border-bottom: 4px solid orange;
  border-top: 4px solid orange;
  width: 30%;
  margin-left: 40%;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  .text-schedule h1 {
    width: 60%;
    margin-left: 120px;
  }
}
@media screen and (max-width: 600px) {
  .text-schedule h1 {
    width: 80%;
    margin-left: 20px;
  }
}
.text-schedule p {
  padding: 10px;
  font-size: 18px;
}

.schedule {
  padding: 20px 90px;
  display: flex;
  background-color: wheat;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  .schedule {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.schedule .breakfast {
  background-color: orange;
  border-right: 4px solid wheat;
  box-shadow: 10px 10px 5px orange;
  flex: 1;
}
.schedule .breakfast .picture img {
  width: 370px;
  margin: 10px 10px;
}
.schedule .breakfast .menu {
  padding: 20px;
  background-color: white;
  margin: 10px;
}
.schedule .breakfast .menu .text h1 {
  font-size: 29px;
}
.schedule .breakfast .menu .text p {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}
.schedule .breakfast .menu .n-food .each-food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.schedule .breakfast .menu .n-food .each-food p {
  padding: 5px 0px;
  font-size: 20px;
}
.schedule .breakfast:hover {
  border: 4px solid white;
}
.schedule .lunch:hover {
  border: 4px solid white;
}
.schedule .dinner:hover {
  border: 4px solid white;
}
.schedule .lunch {
  background-color: orange;
  border-right: 4px solid wheat;
  box-shadow: 10px 10px 5px orange;
  flex: 1;
}
.schedule .lunch .picture img {
  width: 370px;
  margin: 10px 10px;
}
.schedule .lunch .menu {
  padding: 20px;
  background-color: white;
  margin: 10px;
}
.schedule .lunch .menu .text h1 {
  font-size: 29px;
}
.schedule .lunch .menu .text p {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}
.schedule .lunch .menu .n-food .each-food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 4px solid orange;
}
.schedule .lunch .menu .n-food .each-food p {
  padding: 5px 0px;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .schedule .lunch {
    display: flex;
    flex-direction: column-reverse;
  }
}
.schedule .dinner {
  background-color: orange;
  flex: 1;
  box-shadow: 10px 10px 5px orange;
}
.schedule .dinner .picture img {
  width: 370px;
  margin: 10px 10px;
}
.schedule .dinner .menu {
  padding: 10px;
  background-color: white;
  margin: 10px;
}
.schedule .dinner .menu .text h1 {
  font-size: 29px;
}
.schedule .dinner .menu .text p {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}
.schedule .dinner .menu .n-food .each-food {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid orange;
}
.schedule .dinner .menu .n-food .each-food p {
  padding: 5px 0px;
  font-size: 20px;
}

.menu-breakfast {
  padding: 20px 100px;
}
@media screen and (max-width: 1024px) {
  .menu-breakfast {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 600px) {
  .menu-breakfast {
    padding: 10px 30px;
  }
}
.menu-breakfast h1 {
  color: orange;
  padding-bottom: 20px;
}
.menu-breakfast .group-food {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .menu-breakfast .group-food {
    flex-wrap: wrap;
  }
}
.menu-breakfast .group-food .card-food {
  background-color: wheat;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 4px solid white;
}
@media screen and (max-width: 1024px) {
  .menu-breakfast .group-food .card-food {
    width: 47%;
  }
}
@media screen and (max-width: 600px) {
  .menu-breakfast .group-food .card-food {
    width: 100%;
  }
}
.menu-breakfast .group-food .card-food .top img {
  width: 210px;
  margin: 10px 10px;
}
@media screen and (max-width: 600px) {
  .menu-breakfast .group-food .card-food .top img {
    width: 324px;
  }
}
.menu-breakfast .group-food .card-food .center {
  text-align: center;
  padding: 5px;
}
.menu-breakfast .group-food .card-food .center p {
  font-size: 18px;
}
.menu-breakfast .group-food .card-food .bottom {
  margin-left: 20px;
  padding: 10px;
}
.menu-breakfast .group-food .card-food .bottom a button {
  background-color: orange;
  padding: 10px 40px;
  border: 4px solid white;
  border-radius: 20px;
  font-size: 18px;
}
.menu-breakfast .group-food .card-food .bottom a:hover button {
  background-color: white;
  font-size: 18px;
}
.menu-breakfast .group-food .card-food:hover {
  background-color: white;
  border: 4px solid orange;
  box-shadow: 2px 2px 2px orange;
}

.menu-lunch {
  padding: 20px 100px;
}
@media screen and (max-width: 600px) {
  .menu-lunch {
    padding: 10px 30px;
  }
}
.menu-lunch h3 {
  font-size: 22px;
  color: orange;
  padding-bottom: 20px;
}
.menu-lunch .c-food {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .menu-lunch .c-food {
    flex-wrap: wrap;
  }
}
.menu-lunch .c-food .box {
  background-color: orange;
  border: 4px solid white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .menu-lunch .c-food .box {
    width: 47%;
  }
}
.menu-lunch .c-food .box img {
  width: 210px;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .menu-lunch .c-food .box img {
    width: 148px;
  }
}
.menu-lunch .c-food .box h2 {
  text-align: center;
  font-size: 20px;
}
.menu-lunch .c-food .box p {
  text-align: center;
  padding: 10px;
}
.menu-lunch .c-food .box:hover {
  background-color: white;
  cursor: pointer;
  border: 4px solid orange;
  box-shadow: 2px 2px 4px orange;
}

.soup-food {
  padding: 20px 100px;
}
@media screen and (max-width: 600px) {
  .soup-food {
    padding: 10px 30px;
  }
}
.soup-food h2 {
  color: orange;
  padding-bottom: 20px;
}
.soup-food .G-food {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .soup-food .G-food {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .soup-food .G-food {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .soup-food .G-food .card {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .soup-food .G-food .card {
    width: 100%;
    margin-bottom: 20px;
  }
}
.soup-food .G-food .card img {
  padding: 10px;
  width: 210px;
  height: 30vh;
  background-color: wheat;
  border-top-left-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .soup-food .G-food .card img {
    width: 260px;
  }
}
@media screen and (max-width: 600px) {
  .soup-food .G-food .card img {
    width: 343px;
  }
}
.soup-food .G-food .card .text {
  text-align: center;
  padding: 10px;
}
.soup-food .G-food .card:hover {
  border: 4px solid orange;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 4px orange;
}

.menu-dinner {
  padding: 20px 100px;
}
@media screen and (max-width: 600px) {
  .menu-dinner {
    padding: 10px 30px;
  }
}
.menu-dinner .dinner-top {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .menu-dinner .dinner-top {
    flex-direction: column;
  }
}
.menu-dinner .dinner-top img {
  flex: 1;
  width: 800px;
  height: 50vh;
}
@media screen and (max-width: 1024px) {
  .menu-dinner .dinner-top img {
    width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .menu-dinner .dinner-top img {
    width: 350px;
  }
}
.menu-dinner .dinner-top img:hover {
  box-shadow: 4px 3px 2px gray;
}
.menu-dinner .dinner-top .text {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.menu-dinner .dinner-top .text h3 {
  font-size: 20px;
  padding: 10px;
}
.menu-dinner .dinner-top .text p {
  font-size: 18px;
}
.menu-dinner .food-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.menu-dinner .food-group .box {
  border: 4px solid orange;
  height: 25vh;
  width: 15%;
  margin-bottom: 10px;
  border-radius: 20px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .menu-dinner .food-group .box {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .menu-dinner .food-group .box {
    width: 47%;
  }
}
.menu-dinner .food-group .box p {
  font-size: 25px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.642);
  width: 100%;
  height: 24vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-dinner .food-group .box:hover {
  position: relative;
  cursor: pointer;
  border: none;
}
.menu-dinner .food-group .box:hover p {
  visibility: visible;
  border-radius: 20px;
}
.menu-dinner .food-group #box1 {
  background-image: url(../../../images/karisajmon.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box2 {
  background-image: url(../../../images/nhamkrocj.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box3 {
  background-image: url(../../../images/khmernoodle.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box4 {
  background-image: url(../../../images/khor\ ko.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box5 {
  background-image: url(../../../images/kthish\ lpov.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box6 {
  background-image: url(../../../images/kuyteav.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box7 {
  background-image: url(../../../images/nhamsvay.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box8 {
  background-image: url(../../../images/soup.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box9 {
  background-image: url(../../../images/ស្ងោរជ្រក់សាច់មាន.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box10 {
  background-image: url(../../../images/ស្លរប្រហើរ.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box11 {
  background-image: url(../../../images/ប្រហិត.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box12 {
  background-image: url(../../../images/ឆា.png);
  background-position: center;
  background-size: cover;
}