* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  background-color: rgba(103, 32, 2, 0.6509803922);
  padding: 10px;
}

nav .nav-left {
  flex: 0.5;
}

nav .nav-left img {
  width: 200px;
}

nav .nav-right {
  flex: 1;
  display: grid;
  align-items: center;
}

nav .nav-right ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 25px;
}

nav .nav-right ul li a {
  color: white;
  font-weight: bold;
}

footer {
  background-image: linear-gradient(rgb(123, 196, 224), rgb(94, 94, 177));
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 35vh;
}

footer h2,
footer p {
  color: white;
  padding: 10px;
}

.media-images,
.media-name {
  width: 50px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.social-media img:nth-child(1),
.social-media img:nth-child(2),
.social-media img:nth-child(3) {
  width: 40px;
}

header {
  background-image: url(../../../images/local-food-singapore.webp);
  height: 90vh;
}

html {
  scroll-behavior: smooth;
}

header .text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

header .text .info {
  background-color: rgba(103, 32, 2, 0.4078431373);
  padding: 50px 150px;
  text-align: center;
  border-radius: 20px;
}

header .text .info h1 {
  font-size: 90px;
  color: white;
}

header .text .info span {
  font-size: 18px;
  color: white;
}

header .text .info p {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
}

header .text .info a button {
  border: none;
  border-radius: 20px;
  padding: 20px 50px;
  background-color: orange;
  font-size: 25px;
  color: white;
}

.text-breakfast {
  padding: 20px 100px;
}

.text-breakfast h1 {
  text-align: center;
  padding: 20px;
  font-size: 28px;
}

.text {
  display: flex;
  justify-content: space-evenly;
}

.text-left img {
  width: 90%;
}

.text-right {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-right p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.text-right p span {
  color: orange;
  font-weight: bold;
}

.text-right button {
  border: none;
  border-radius: 20px;
  background-color: rgba(245, 222, 179, 0.573);
  padding: 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price p {
  padding: 4px;
  border-radius: 10px;
  border: 4px solid orange;
  width: 60px;
  text-align: center;
}

.price p:hover {
  background-color: orange;
  color: white;
  font-size: 20px;
}

.menu-breakfast {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
}

.menu-breakfast h1 {
  background-color: rgba(98, 150, 217, 0.603);
  padding: 10px;
  color: rgb(24, 22, 22);
  width: 30%;
  border-top: 4px solid rgb(15, 79, 163);
  border-bottom: 4px solid rgb(15, 79, 163);
  font-size: 28px;
}

.menu-breakfast .group-food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.df-food {
  background-color: white;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.btn {
  padding: 20px 100px;
  background-color: orange;
  font-size: 25px;
  color: white;
  border-radius: 10px;
}

.food:nth-child(1), .food:nth-child(4) {
  padding-top: 90px;
}

.lunch {
  padding: 20px 100px;
}

.lunch h1 {
  background-color: rgba(98, 150, 217, 0.603);
  padding: 10px;
  color: rgb(24, 22, 22);
  width: 30%;
  border-top: 4px solid rgb(15, 79, 163);
  border-bottom: 4px solid rgb(15, 79, 163);
}

.lunch .top .image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.lunch .top img {
  width: 360px;
}

.top .text {
  display: flex;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}

.top .text p span {
  color: orange;
  font-weight: bold;
}

.bottom {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.bottom h3 {
  font-size: 30px;
  text-align: center;
  color: orange;
  padding: 20px;
}

.fried-food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fried-food .name-food .pic img {
  width: 260px;
  height: 230px;
}

.fried-food .name-food:hover {
  background-color: white;
  border: 4px solid orange;
  padding: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 4px 10px orange;
}

.fried-food .name-food:nth-child(1) .pic img {
  width: 260px;
}

.fried-food .name-food .name, .soup-food .food-group .card-food .name {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.fried-food .name-food .name, .soup-food .food-group .card-food .name:hover {
  background-color: orange;
}

.fried-food .name-food .ingredient {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fried-food .name-food .ingredient:hover {
  border: none;
}

.soup-food .food-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.soup-food .food-group .card-food:hover {
  background-color: white;
  padding: 10px;
}

.soup-food .food-group .card-food .center img {
  width: 230px;
  height: 230px;
}

.soup-food .food-group .card-food .ingredient {
  text-align: center;
  padding-top: 60px;
}

.soup-food .food-group .card-food:nth-child(1) .center img {
  width: 240px;
}

img:hover {
  box-shadow: 2px 4px 10px orange;
}

.dinner {
  padding: 20px 100px;
}

.dinner h1 {
  background-color: rgba(98, 150, 217, 0.603);
  padding: 10px;
  color: rgb(24, 22, 22);
  width: 30%;
  border-top: 4px solid rgb(15, 79, 163);
  border-bottom: 4px solid rgb(15, 79, 163);
}

.dinner .text-dinner {
  display: flex;
  padding-top: 20px;
}

.dinner .text-dinner .text-top .box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

.dinner .text-dinner .text-top .box1 img {
  width: 300px;
  height: 200px;
}

.dinner .text-dinner .text-top img:hover {
  box-shadow: 2px 4px 10px orange;
}

.dinner .text-dinner .text-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  font-size: 20px;
}

.dinner .text-dinner .text-bottom p {
  font-size: 20px;
  padding-top: 20px;
}

.dinner .text-dinner .text-bottom p:nth-child(2) {
  background-color: rgba(245, 222, 179, 0.573);
  padding: 10px;
}

.dinner .text-dinner .text-bottom p:nth-child(1) span {
  color: orange;
  font-weight: bold;
}

.df-food {
  display: flex;
  flex-direction: column;
}

.df-food h3 {
  font-size: 30px;
  text-align: center;
  color: orange;
  padding: 20px;
  text-align: center;
}

.F-food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-food {
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box-food:hover {
  border: 4px solid orange;
  background-color: white;
  box-shadow: 2px 4px 10px orange;
}

.box-food img {
  width: 260px;
  height: 146.39px;
}

.box-food .name {
  text-align: center;
}

.rice {
  color: white;
  font-size: 20px;
  background-image: url(../../../images/restaurant-people2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
}/*# sourceMappingURL=about.css.map */