@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-left {
  flex: 1;
}
nav .nav-left img {
  width: 80px;
  padding: 10px 80px;
}
nav .nav-right {
  flex: 1;
}
nav .nav-right ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}
nav .nav-right ul li a:hover {
  color: purple;
}
nav .nav-right ul li:hover {
  border-bottom: 3px solid orange;
}
nav .nav-right ul li:nth-child(3) {
  border: 3px solid orange;
  padding: 5px 10px;
  border-radius: 10px;
}
nav .nav-right ul li:nth-child(3):hover {
  background-color: orange;
  border: none;
}
nav .nav-right ul li:nth-child(3):hover a {
  color: purple;
}
nav .nav-right ul li:nth-child(2) .another {
  display: none;
}

footer {
  background-image: linear-gradient(rgba(98, 150, 217, 0.603), rgb(15, 79, 163));
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 35vh;
}

footer h2,
footer p {
  color: white;
  padding: 10px;
}

.media-images,
.media-name {
  width: 50px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.social-media img:nth-child(1),
.social-media img:nth-child(2),
.social-media img:nth-child(3) {
  width: 40px;
}

header {
  background-image: url(../../../images/local-food-singapore.webp);
  height: 90vh;
  display: flex;
  flex-direction: column;
}
header .text .text-head {
  background-color: rgba(245, 222, 179, 0.743);
  width: 50%;
  border-radius: 20px;
}
header .text .text-head h1 {
  margin-top: 150px;
  padding: 50px 100px;
  font-size: 60px;
}
header .text .btn {
  margin-left: 200px;
  margin-top: 20px;
  background-color: wheat;
  width: 60%;
  padding: 20px;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

.text-schedule {
  padding: 50px 90px;
  text-align: center;
}
.text-schedule h1 {
  border-bottom: 4px solid orange;
  border-top: 4px solid orange;
  width: 30%;
  margin-left: 30%;
  padding: 10px;
}
.text-schedule p {
  padding: 10px;
  font-size: 18px;
}

.schedule {
  padding: 20px 90px;
  display: flex;
  background-color: wheat;
  justify-content: space-evenly;
}
.schedule .breakfast {
  flex: 1;
  background-color: orange;
  border-right: 4px solid wheat;
  box-shadow: 10px 10px 5px orange;
}
.schedule .breakfast .picture img {
  width: 370px;
  margin: 10px 10px;
}
.schedule .breakfast .menu {
  padding: 20px;
  background-color: white;
  margin: 10px;
}
.schedule .breakfast .menu .text h1 {
  font-size: 29px;
}
.schedule .breakfast .menu .text p {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}
.schedule .breakfast .menu .n-food .each-food {
  display: flex;
  justify-content: space-between;
}
.schedule .breakfast .menu .n-food .each-food p {
  padding: 5px 0px;
  font-size: 20px;
}
.schedule .lunch {
  background-color: orange;
  flex: 1;
  border-right: 4px solid wheat;
  box-shadow: 2px 10px 2px orange;
}
.schedule .lunch .picture img {
  width: 370px;
  margin: 10px 10px;
}
.schedule .lunch .menu {
  padding: 20px;
  background-color: white;
  margin: 10px;
}
.schedule .lunch .menu .text h1 {
  font-size: 29px;
}
.schedule .lunch .menu .text p {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}
.schedule .lunch .menu .n-food .each-food {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid orange;
}
.schedule .lunch .menu .n-food .each-food p {
  padding: 5px 0px;
  font-size: 20px;
}
.schedule .dinner {
  background-color: orange;
  flex: 1;
  box-shadow: 10px 10px 5px orange;
}
.schedule .dinner .picture img {
  width: 370px;
  margin: 10px 10px;
}
.schedule .dinner .menu {
  padding: 10px;
  background-color: white;
  margin: 10px;
}
.schedule .dinner .menu .text h1 {
  font-size: 29px;
}
.schedule .dinner .menu .text p {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}
.schedule .dinner .menu .n-food .each-food {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid orange;
}
.schedule .dinner .menu .n-food .each-food p {
  padding: 5px 0px;
  font-size: 20px;
}

.menu-breakfast {
  padding: 20px 90px;
}
.menu-breakfast h1 {
  color: orange;
  padding-bottom: 20px;
}
.menu-breakfast .group-food {
  display: flex;
  justify-content: space-between;
}
.menu-breakfast .group-food .card-food {
  background-color: wheat;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 4px solid white;
}
.menu-breakfast .group-food .card-food .top img {
  width: 210px;
  margin: 10px 10px;
}
.menu-breakfast .group-food .card-food .center {
  text-align: center;
  padding: 5px;
}
.menu-breakfast .group-food .card-food .center p {
  font-size: 18px;
}
.menu-breakfast .group-food .card-food .bottom {
  margin-left: 20px;
  padding: 10px;
}
.menu-breakfast .group-food .card-food .bottom a button {
  background-color: orange;
  padding: 10px 40px;
  border: 4px solid white;
  border-radius: 20px;
  font-size: 18px;
}
.menu-breakfast .group-food .card-food .bottom a:hover button {
  background-color: white;
  font-size: 16px;
}
.menu-breakfast .group-food .card-food:hover {
  background-color: white;
  border: 4px solid orange;
  box-shadow: 2px 2px 2px orange;
}

.menu-lunch {
  padding: 20px 90px;
}
.menu-lunch .g-food {
  display: flex;
  flex: 1.7;
  justify-content: space-between;
}
.menu-lunch .g-food h3 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: orange;
  font-weight: bold;
}
.menu-lunch .g-food .c-food {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}
.menu-lunch .g-food .c-food .box {
  width: 32%;
  margin-bottom: 10px;
  height: 30vh;
  border: 4px solid orange;
  border-radius: 20px;
}
.menu-lunch .g-food .c-food .box p {
  text-align: center;
}
.menu-lunch .g-food .c-food .box:hover {
  box-shadow: 3px 3px 5px gray;
}
.menu-lunch .g-food .c-food #box1 {
  background-image: url(../../../images/char.png);
  background-size: cover;
  background-position: center;
}
.menu-lunch .g-food .c-food #box2 {
  background-image: url(../../../images/ឆាមី.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .g-food .c-food #box3 {
  background-image: url(../../../images/ឆាក្រៀង.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .g-food .c-food #box4 {
  background-image: url(../../../images/ឆាត្រសក់.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .g-food .c-food #box5 {
  background-image: url(../../../images/ឆាល្ពៅ​​ដកថ្.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .g-food .c-food #box6 {
  background-image: url(../../../images/ឆាសណ្តែគួ.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .soup-food h3 {
  color: orange;
  text-align: center;
  padding: 20px;
  font-size: 28px;
}
.menu-lunch .soup-food .G-food {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.menu-lunch .soup-food .G-food .card {
  width: 32%;
  height: 40vh;
  margin-bottom: 10px;
}
.menu-lunch .soup-food .G-food .card:hover {
  box-shadow: 3px 3px 5px gray;
}
.menu-lunch .soup-food .G-food #box1 {
  background-image: url(../../../images/ម្ជុរយួនត្រីរ៉ស.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .soup-food .G-food #box2 {
  background-image: url(../../../images/កកូរ​សដថក.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .soup-food .G-food #box3 {
  background-image: url(../../../images/ម្ជួក្​រឿង.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .soup-food .G-food #box4 {
  background-image: url(../../../images/ស្ពៃស្ងោ.jpg);
  background-size: cover;
  background-position: center;
}
.menu-lunch .soup-food .G-food #box5 {
  background-image: url(../../../images/ប្រហើរ.png);
  background-size: cover;
  background-position: center;
}
.menu-lunch .soup-food .G-food #box6 {
  background-image: url(../../../images/morning.jpg);
  background-size: cover;
  background-position: center;
}

.menu-dinner {
  padding: 20px 90px;
}
.menu-dinner .dinner-top {
  display: flex;
}
.menu-dinner .dinner-top img {
  flex: 1;
  width: 800px;
  height: 50vh;
}
.menu-dinner .dinner-top img:hover {
  box-shadow: 4px 3px 2px gray;
}
.menu-dinner .dinner-top .text {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.menu-dinner .dinner-top .text h3 {
  font-size: 20px;
  padding: 10px;
}
.menu-dinner .dinner-top .text p {
  font-size: 18px;
}
.menu-dinner .food-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.menu-dinner .food-group .box {
  border: 4px solid orange;
  height: 25vh;
  width: 15%;
  margin-bottom: 10px;
  border-radius: 20px;
  position: relative;
}
.menu-dinner .food-group #box1 {
  background-image: url(../../../images/karisajmon.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box2 {
  background-image: url(../../../images/nhamkrocj.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box3 {
  background-image: url(../../../images/khmernoodle.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box4 {
  background-image: url(../../../images/khor\ ko.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box5 {
  background-image: url(../../../images/kthish\ lpov.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box6 {
  background-image: url(../../../images/kuyteav.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box7 {
  background-image: url(../../../images/nhamsvay.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box8 {
  background-image: url(../../../images/soup.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box9 {
  background-image: url(../../../images/ស្ងោរជ្រក់សាច់មាន.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box10 {
  background-image: url(../../../images/ស្លរប្រហើរ.jpg);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box11 {
  background-image: url(../../../images/ប្រហិត.png);
  background-position: center;
  background-size: cover;
}
.menu-dinner .food-group #box12 {
  background-image: url(../../../images/ឆា.png);
  background-position: center;
  background-size: cover;
}
