* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-left {
  flex: 1;
}
nav .nav-left img {
  width: 90px;
  padding: 10px 80px;
  box-shadow: none;
}
nav .nav-right {
  flex: 1;
}
nav .nav-right ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  @in;
}
nav .nav-right ul li a:hover {
  color: purple;
}
nav .nav-right ul li:hover {
  border-bottom: 3px solid orange;
}
nav .nav-right ul li:nth-child(3) {
  border: 3px solid orange;
  padding: 5px 10px;
  border-radius: 10px;
}
nav .nav-right ul li:nth-child(3):hover {
  background-color: orange;
  border: none;
}
nav .nav-right ul li:nth-child(3):hover a {
  color: purple;
}
nav .nav-right ul li:nth-child(2) .another {
  display: none;
}

li:nth-child(2):hover .another {
  display: block;
  background-color: wheat;
  margin-top: 15px;
  margin-left: 15px;
}

li:nth-child(2):hover .another ul {
  display: block;
  margin: 10px;
}

li:nth-child(2):hover .another ul li {
  width: 100px;
  padding: 10px;
  background-color: wheat;
}

footer {
  background-image: linear-gradient(rgba(98, 150, 217, 0.603), rgb(15, 79, 163));
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 35vh;
}

footer h2,
footer p {
  color: white;
  padding: 10px;
}

.media-images,
.media-name {
  width: 50px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.social-media img:nth-child(1),
.social-media img:nth-child(2),
.social-media img:nth-child(3) {
  width: 40px;
}

.feedback {
  display: flex;
  padding: 30px;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .feedback .feedback {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .feedback .feedback {
    display: flex;
    flex-direction: column;
  }
}

form {
  width: 50%;
  background-color: rgba(212, 149, 187, 0.126);
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  form form {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  form form {
    width: 100%;
    gap: 10px;
  }
}

form button {
  width: 30%;
  height: 50px;
  background-color: orange;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
}

.input-group {
  position: relative;
  border-radius: 100px;
}

.input {
  width: 90%;
  border: solid 1.5px orange;
  border-radius: 1rem;
  background: rgba(17, 31, 110, 0.26);
  padding: 1rem;
  font-size: 1rem;
  color: white;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: white;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus, input:valid {
  outline: none;
  border: 1.5px solid rgba(98, 150, 217, 0.603);
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: orange;
  padding: 0 0.2em;
  color: black;
}

.input-group:nth-child(6) input[type=text] {
  height: 20vh;
}

header {
  background-image: url(../../../images/b41bc51dcf4708c42c7528ebe37786ec.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback {
  display: flex;
}

.main {
  background-color: rgba(103, 32, 2, 0.4078431373);
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .main .main {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .main .main {
    width: 100%;
  }
}

.main h1 {
  font-size: 90px;
  color: white;
}

.main p {
  color: white;
  font-size: 25px;
}

.main,
h1,
p {
  display: flex;
  justify-content: center;
  text-align: center;
}/*# sourceMappingURL=contact.css.map */