* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  background-color: rgba(103, 32, 2, 0.6509803922);
  padding: 10px;
}

nav .nav-left {
  flex: 0.5;
}

nav .nav-left img {
  width: 200px;
}

nav .nav-right {
  flex: 1;
  display: grid;
  align-items: center;
}

nav .nav-right ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 25px;
}

nav .nav-right ul li a {
  color: white;
  font-weight: bold;
}

footer {
  background-image: linear-gradient(rgb(123, 196, 224), rgb(94, 94, 177));
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 35vh;
}

footer h2,
footer p {
  color: white;
  padding: 10px;
}

.media-images,
.media-name {
  width: 50px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.social-media img:nth-child(1),
.social-media img:nth-child(2),
.social-media img:nth-child(3) {
  width: 40px;
}

.card-images1 {
  width: 440px;
  height: 250px;
  background-color: orange;
  border-radius: 80px 0px 0px 80px;
}

.card-images1 img {
  width: 36%;
  position: absolute;
  right: 250px;
  top: 825px;
  cursor: pointer;
}

.card-images2 {
  width: 440px;
  height: 250px;
  background-color: orange;
  border-radius: 80px 0px 0px 80px;
}

.card-images2 img {
  width: 29%;
  position: absolute;
  right: 310px;
  top: 1230px;
  cursor: pointer;
}

.card-images3 {
  width: 440px;
  height: 250px;
  background-color: orange;
  border-radius: 80px 0px 0px 80px;
}

.card-images3 img {
  width: 23%;
  position: absolute;
  right: 350px;
  top: 1595px;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

.card h3 {
  width: 120px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: orange;
}

.about-us,
.lunch,
.dinner,
.breakfast {
  background-color: white;
  margin: 20px;
}

.breakfast-schedule,
.lunch-schedule,
.dinner-schedule {
  display: flex;
  justify-content: space-around;
}

.dinner h2,
.lunch h2,
.breakfast h2 {
  padding: 40px;
  margin-left: 30px;
}

.breakfast-schedule p,
.dinner-schedule p,
.lunch-schedule p {
  font-size: 20px;
  padding: 10px;
}

.food-schedule {
  width: 45%;
}

header {
  background-image: url(../../../images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

header .text {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .text .info {
  background-color: rgba(103, 32, 2, 0.4078431373);
  padding: 50px 150px;
  text-align: center;
  border-radius: 20px;
}

header .text .info h1 {
  font-size: 60px;
  color: white;
}

header .text .info span {
  font-size: 25px;
  color: white;
}

header .text .info p {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
}

header .text .info button {
  padding: 10px 40px;
  background-color: orange;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  color: white;
}

.about-us h2 {
  text-align: center;
  font-size: 30px;
}

.detail-about-us {
  display: flex;
  justify-content: space-evenly;
}

.about-images img {
  width: 80%;
  margin-left: 50px;
}

.about-text {
  font-size: 25px;
}

.about-text a {
  width: 100px;
  background-color: orange;
  color: black;
  font-size: 20px;
  padding: 6px 10px;
  margin-top: 40px;
  display: block;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Inria Sans", sans-serif;
}

body {
  background-color: white;
}/*# sourceMappingURL=home.css.map */