* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 4px white;
  z-index: 1;
}
nav .nav-left {
  flex: 0.7;
}
nav .nav-left img {
  width: 90px;
  padding: 10px 80px;
  box-shadow: none;
}

.menu-bar {
  flex: 1;
  height: 80px;
}

.menu-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-bar ul li {
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.menu-bar ul li a {
  color: purple;
  font-size: 20px;
}

.menu-bar ul li a:hover {
  border-bottom: 4px solid orange;
}

.dropdown-menu {
  position: absolute;
  left: 500px;
  top: 40px;
  display: block;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu ul {
  margin: 10px;
  display: block;
}

.dropdown-menu ul li {
  width: 150px;
  padding: 10px;
  background-color: white;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 68%;
  top: 57px;
}

.dropdown-menu ul {
  display: block;
  margin: 20px;
}

.dropdown-menu ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropmenu-down-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropmenu-down-1 {
  display: block;
  position: absolute;
  top: 83px;
  left: 38%;
}

html {
  scroll-behavior: smooth;
}

footer {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 35vh;
}

footer h2,
footer p {
  color: black;
  padding: 10px;
}

.media-images,
.media-name {
  width: 50px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}
@media screen and (max-width: 600px) {
  .social-media {
    justify-content: space-evenly;
  }
}

.social-media img:nth-child(1),
.social-media img:nth-child(2),
.social-media img:nth-child(3) {
  width: 40px;
}

@media screen and (max-width: 600px) {
  .social-media img:nth-child(1),
  .social-media img:nth-child(2),
  .social-media img:nth-child(3) {
    width: 30px;
  }
}

@media screen and (max-width: 600px) {
  footer h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  footer p {
    font-size: 14px;
  }
}

.about-us {
  padding: 20px 90px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .about-us {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .about-us {
    display: flex;
    flex-direction: column;
  }
}
.about-us img {
  border-radius: 20px;
  flex: 1;
  height: 50vh;
}
.about-us img:hover {
  box-shadow: 4px 10px 10px orange;
}
.about-us .info {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .info .info h1 {
  color: orange;
  padding: 20px;
}

.chef {
  padding: 20px 90px;
}
.chef h1 {
  text-align: center;
  padding: 20px;
}
.chef .chef-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .chef .chef-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .chef .chef-info {
    display: flex;
    flex-wrap: wrap;
  }
}
.chef .chef-info .info {
  background-color: orange;
}
@media screen and (max-width: 1024px) {
  .chef .chef-info .info {
    background-color: orange;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .chef .chef-info .info {
    background-color: orange;
    width: 100%;
  }
}
.chef .chef-info .info img {
  width: 100%;
  height: 40vh;
}
.chef .chef-info .info h2 {
  padding: 10px;
  text-align: center;
}
.chef .chef-info .info p {
  padding: 10px;
  text-align: center;
}

.food-overview {
  padding: 20px 90px;
  display: flex;
  gap: 40px;
  background-color: orange;
}
@media screen and (max-width: 1024px) {
  .food-overview {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 600px) {
  .food-overview {
    display: flex;
    flex-direction: column;
  }
}
.food-overview .left {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.food-overview .left h1 {
  padding-bottom: 10px;
}
.food-overview .right {
  flex: 1;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .food-overview .right {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .food-overview .right {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
}
.food-overview .right .card-food {
  border: 4px solid orange;
  padding: 10px;
  border-radius: 20px;
}
.food-overview .right .card-food .top1 {
  height: 30vh;
  background-image: url(../images/Koko-shoup.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 1px 1px black;
  overflow: hidden;
}
.food-overview .right .card-food .food-des {
  background-color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 1px 1px black;
}
.food-overview .right .card-food .top2 {
  height: 30vh;
  background-image: url(../images/Baby-corn.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 1px 1px black;
}
.food-overview .right .card-food .top3 {
  height: 30vh;
  background-image: url(../images/Morning-glory.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 1px 1px black;
}
.food-overview .right .card-food:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .service {
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .service {
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.service .word {
  flex: 1;
  text-align: center;
}
.service .word h1 {
  font-weight: bold;
  padding-bottom: 20px;
}
.service .word span {
  color: orange;
}
.service .main-point {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .service .main-point {
    width: 80%;
    background-color: orange;
  }
}
@media screen and (max-width: 600px) {
  .service .main-point {
    width: 100%;
    background-color: orange;
  }
}
.service .main-point .meaning {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.service .main-point .meaning .img {
  flex: 0.3;
}
.service .main-point .meaning .img img {
  background-color: white;
  width: 60px;
  align-items: center;
  padding: 5px;
  border-radius: 60px;
}
@media screen and (max-width: 1024px) {
  .service .main-point .meaning .img img {
    width: 40px;
  }
}
.service .main-point .meaning .text-des {
  flex: 1;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Inria Sans", sans-serif;
}

body {
  background-color: white;
}/*# sourceMappingURL=home.css.map */