
@import "./main.scss";
// @import "./components/home/breakfast";
@import "./components/home/card-food";
@import "./components/home/group-food";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inria Sans', sans-serif;
}

body {
    background-color: white;
}

