
@import "./main.scss";
@import "./components/home/abou-us";
@import "./components/home/chef";
@import "./components/home/food-view";
@import "./components/home/service";
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inria Sans', sans-serif;
}

body {
    background-color: white;
}

