<<<<<<< HEAD

@import "./main.scss";
@import "./components/home/breakfast";
=======
@import "./main.scss";
@import "./components/home/breakfast";

>>>>>>> fc418d1ded3e63ea567e45eb34cfc6697de59819
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inria Sans', sans-serif;
}

body {
    background-color: white;
}

