$dinner-bg : rgba(245, 222, 179, 0.573);
$h1-bg :rgba(98, 150, 217, 0.603);
$h1-border : rgb(15, 79, 163);
$orange :orange;
$white : white;
$nav-bg : #67200268;
$text-color : black;
$wheat : wheat;
$purple : purple;
$grey: grey;