.feedback {
    display: flex;
    padding: 30px;
    gap: 30px;
}

form {
    width: 50%;
    background-color: rgba(212, 149, 187, 0.126);
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form button {
    width: 30%;
    height: 50px;
    background-color: rgb(0, 30, 255);
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.input-group {
    position: relative;
    border-radius: 100px;
   }
   
   .input {
    width: 90%;
    border: solid 1.5px #fa880e;
    border-radius: 1rem;
    background: rgba(224, 206, 107, 0.694);
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #000000;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #0066ec81;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #010000;
    padding: 0 .2em;
    color: #008cff;
   }
   .input-group:nth-child(6) input[type=text]{
    height: 20vh;

   }