header {
    background-image: url(../../../images/b41bc51dcf4708c42c7528ebe37786ec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback {
    display: flex;

    @include responsive(tablet) {
        display: flex;
        flex-direction: column;
    }

    @include responsive(phone) {
        display: flex;
        flex-direction: column;
    }

}