.main {
    background-color:$nav-bg;
    width: 50%;
    @include df-column;
    @include responsive(tablet){
        .main{
            width: 100%;
        }
    }
    @include responsive(phone){
        .main{
            width: 100%;
        }
    }
}

.main h1 {
    font-size: 90px;
    color: $white;
}

.main p {
    color: $white;
    font-size: 25px;
    @include responsive(phone){
        
    }
}

.main,
h1,
p {
    @include style-display;
}