footer {
    background-color: $grey;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 35vh;
}

footer h2,
footer p {
    color: $text-color;
    padding: 10px;
   
}

.media-images,
.media-name {
    width: 50px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.social-media img:nth-child(1),
.social-media img:nth-child(2),
.social-media img:nth-child(3) {
    width: 40px;
  
}