@import "../responsives/responsive";

nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 4px white;
    z-index: 1;

    .nav-left {
        flex: 0.7;
        img {
            width: 90px;
            padding: 10px 80px;
            box-shadow: none;

        }
    }



}

.menu-bar {
    flex: 1;
    height: 80px;
}

.menu-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-bar ul li {
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

.menu-bar ul li a {
    color: purple;
    font-size: 20px;
}

.menu-bar ul li a:hover {
    border-bottom: 4px solid orange;
}

.dropdown-menu {
    position: absolute;
    left: 500px;
    top: 40px;
    display: block;

}

.dropdown-menu {
    display: none;
}

.dropdown-menu ul {
    margin: 10px;
    display: block;
}

.dropdown-menu ul li {
    width: 150px;
    padding: 10px;
    background-color: white;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 68%;
    top: 57px;
}

.dropdown-menu ul {
    display: block;
    margin: 20px;
}

.dropdown-menu ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

.dropmenu-down-1 {
    display: none;
}

.dropdown-menu ul li:hover .dropmenu-down-1 {
    display: block;
    position: absolute;
    top: 83px;
    left: 38%;

}

html {
    scroll-behavior: smooth;
}