@import "../responsives/responsive";
nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 4px white;
    z-index: 1;
    .nav-left {
        flex: 1;
        @include responsive(phone){
            flex: 0.3;
        }
        img {
            width: 90px;
            padding: 10px 80px;
            box-shadow: none;

        }
    }

    .nav-right {
        flex: 1;
        @include responsive(phone){
            flex: 1.7;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 20px;

            li {
                display: inline-block;
                background-color: white;
                a:hover {
                    color: purple;

                }
            }

             li:hover {
                border-bottom: 3px solid orange;
            }

            .feedback {
                border: 3px solid orange;
                padding: 5px 10px;
                border-radius: 10px;

            }

            .feedback:hover {
                background-color: orange;
                border: none;

                a {
                    color: purple;
                }
            }


        }

    }
}

html {
    scroll-behavior: smooth;
}