

.dinner {
  @include padding;
}

.dinner h1 {
  @include info-food;
}

.dinner .text-dinner {
  display: flex;
  padding-top: 20px;
}

.dinner .text-dinner .text-top .box1 {
  @include style-g-card;
  padding-bottom: 10px;
}

.dinner .text-dinner .text-top .box1 img {
  width: 300px;
  height: 200px;
}

.dinner .text-dinner .text-top img:hover {
  box-shadow: 2px 4px 10px $orange;
}

.dinner .text-dinner .text-bottom {
  @include style-center;
  padding-left: 20px;
  font-size: 20px;
}

.dinner .text-dinner .text-bottom p {
  // @include align-text;
  font-size: 20px;
  padding-top: 20px;
}

.dinner .text-dinner .text-bottom p:nth-child(2) {
  background-color:$dinner-bg;
  padding: 10px;
}

.dinner .text-dinner .text-bottom p:nth-child(1) span {
  @include text-contrast;

}

.df-food {
  display: flex;
  flex-direction: column;
}

.df-food h3 {
  @include style-h3;
  text-align: center;

}

.F-food {
  @include style-g-card;

}

.box-food {
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box-food:hover {
  border: 4px solid $orange;
  background-color: $white;
  box-shadow: 2px 4px 10px $orange;
}

.box-food img {
  width: 260px;
  height: 146.39px;
}

.box-food .name {
  text-align: center;
}