.menu-lunch {
    padding: 20px 90px;

    .g-food {
        display: flex;
        flex: 1.7;
        justify-content: space-between;

        h3 {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            color: orange;
            font-weight: bold;
        }

        .c-food {
            display: flex;
            justify-content: space-between;
            width: 80%;
            flex-wrap: wrap;

            .box {
                width: 32%;
                margin-bottom: 10px;
                height: 30vh;
                border: 4px solid orange;
                border-radius: 20px;

                p {
                    text-align: center;
                }

            }

            .box:hover {
                box-shadow: 3px 3px 5px gray;
            }

            #box1 {
                background-image: url(../../../images/char.png);
                background-size: cover;
                background-position: center;
            }

            #box2 {
                background-image: url(../../../images/ឆាមី.jpg);
                background-size: cover;
                background-position: center;
            }

            #box3 {
                background-image: url(../../../images/ឆាក្រៀង.jpg);
                background-size: cover;
                background-position: center;
            }

            #box4 {
                background-image: url(../../../images/ឆាត្រសក់.jpg);
                background-size: cover;
                background-position: center;
            }

            #box5 {
                background-image: url(../../../images/ឆាល្ពៅ​​ដកថ្.jpg);
                background-size: cover;
                background-position: center;
            }

            #box6 {
                background-image: url(../../../images/ឆាសណ្តែគួ.jpg);
                background-size: cover;
                background-position: center;
            }

        }
    }

    .soup-food {
        h3 {
            color: orange;
            text-align: center;
            padding: 20px;
            font-size: 28px;
        }

        .G-food {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;

            .card {
                width: 32%;
                height: 40vh;
                margin-bottom: 10px;

                // p {
                //     font-size: 18px;
                //     color: rgb(250, 249, 249);
                //     position: absolute;
                //     background-color: rgba(0, 0, 0, 0.325);
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 25vh;
                //     border-radius: 20px;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     opacity: .8;
                //     // display: none;
                // }

            }

            .card:hover {
                box-shadow: 3px 3px 5px gray;

                // p {
                //     visibility: visible;
                //     display: block;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     font-size: 23px;
                // }
            }

            #box1 {
                background-image: url(../../../images/ម្ជុរយួនត្រីរ៉ស.jpg);
                background-size: cover;
                background-position: center;
            }

            #box2 {
                background-image: url(../../../images/កកូរ​សដថក.jpg);
                background-size: cover;
                background-position: center;
            }

            #box3 {
                background-image: url(../../../images/ម្ជួក្​រឿង.jpg);
                background-size: cover;
                background-position: center;
            }

            #box4 {
                background-image: url(../../../images/ស្ពៃស្ងោ.jpg);
                background-size: cover;
                background-position: center;
            }

            #box5 {
                background-image: url(../../../images/ប្រហើរ.png);
                background-size: cover;
                background-position: center;
            }

            #box6 {
                background-image: url(../../../images/morning.jpg);
                background-size: cover;
                background-position: center;
            }


        }
    }
}