.menu-lunch {
    @include padding;

    h3 {
        font-size: 22px;
        color: $orange;
        padding-bottom: 20px;
    }

    .c-food {
        display: flex;
        justify-content: space-between;

        .box {
            background-color: $orange;
            border: 4px solid $white;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;

            img {
                width: 210px;
                padding: 10px;
            }

            h2 {
                text-align: center;
                font-size: 20px;
            }

            p {
                text-align: center;
                padding: 10px;
            }

        }

        .box:hover {
            background-color: $white;
            cursor: pointer;
            border: 4px solid $orange;
            box-shadow: 2px 2px 4px $orange;
        }
    }
}


.soup-food {
    @include padding;
  
    h2{
        color: $orange;
        padding-bottom: 20px;
    }
    .G-food{
        display: flex;
        justify-content: space-between;
        .card{
            img{
                padding: 10px;
                width: 210px;
                height: 30vh;
                background-color: $wheat;
                border-top-left-radius: 20px;
            }
            .text{
                text-align: center;
                padding: 10px;
            }
        }
        .card:hover{
            border: 4px solid $orange;
            border-top-left-radius:20px;
            border-bottom-right-radius:20px;
            box-shadow: 2px 2px 4px $orange;
        }
    }
    
}