.menu-breakfast{
    @include padding;
    @include responsive(phone){
        padding: 10px 30px;
    }
    h1{
        color: $orange;
        padding-bottom: 20px;
    }
    .group-food{
        display: flex;
        justify-content: space-between;
        @include responsive(tablet){
            flex-wrap: wrap;
        }
        .card-food{
            @include style-card;
            @include responsive(tablet){
                width: 47%;
            }
            @include responsive(phone){
                width: 100%;
            }
            .top{
                img{
                    width: 210px;
                    margin: 10px 10px;
                    @include responsive(phone){
                        width: 324px;
                    }
                }
            }
            .center{
                text-align: center;
                padding: 5px;
                p{
                    font-size: 18px;
                }
            }
            .bottom{
                margin-left: 20px;
                padding:10px;
                a{
                    button{
                        @include style-button;
                    }
                }
                a:hover{
                    button{
                        background-color: $white;
                        font-size: 18px;
                    }
                }
            }
        }
        .card-food:hover{
            background-color: $white;
            border: 4px solid $orange;
            box-shadow: 2px 2px 2px $orange;
        }
       
    }
}