.menu-dinner{
    @include padding;
    @include responsive(phone){
        padding: 10px 30px;
    }
    .dinner-top{
        display: flex;
        @include responsive(tablet){
            flex-direction: column;
        }
        img{
            flex: 1;
            width: 800px;
            height: 50vh;
            @include responsive(tablet){
                width: 600px;
            }   
            @include responsive(phone){
                width: 350px;
            }   
        }
        img:hover{
            box-shadow: 4px 3px 2px gray;
        }
        .text{
            flex: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            h3{
                font-size: 20px;
                padding: 10px;
            }
            p{
                font-size: 18px;
           
            }

        }
    
    }
    .food-group{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        .box{
            border: 4px solid orange;
            height: 25vh;
            width: 15%;
            margin-bottom: 10px;
            border-radius: 20px;
            position: relative;
            @include responsive(tablet){
                width: 30%;
            }
            @include responsive(phone){
                width: 47%;
            }
            p{
                font-size: 25px;
                color: white;
                font-weight: bold;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.7;
                visibility: hidden;
                background-color: rgba(0, 0, 0, 0.642);
                width: 100%;
                height: 24vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .box:hover{
            position: relative;
            p{
                visibility: visible;
                border-radius: 20px;
            }
            cursor: pointer;
            border: none;
        }
        #box1{
            background-image: url(../../../images/karisajmon.jpg);
            background-position: center;
            background-size: cover;
        }
        #box2{
            background-image: url(../../../images/nhamkrocj.jpg);
            background-position: center;
            background-size: cover;
        }
        #box3{
            background-image: url(../../../images/khmernoodle.jpg);
            background-position: center;
            background-size: cover;
        }
        #box4{
            background-image: url(../../../images/khor\ ko.jpg);
            background-position: center;
            background-size: cover;
        }
        #box5{
            background-image: url(../../../images/kthish\ lpov.png);
            background-position: center;
            background-size: cover;
        }
        #box6{
            background-image: url(../../../images/kuyteav.jpg);
            background-position: center;
            background-size: cover;
        }
        #box7{
            background-image: url(../../../images/nhamsvay.jpg);
            background-position: center;
            background-size: cover;
        }
        #box8{
            background-image: url(../../../images/soup.png);
            background-position: center;
            background-size: cover;
        }
        #box9{
            background-image: url(../../../images/ស្ងោរជ្រក់សាច់មាន.png);
            background-position: center;
            background-size: cover;
        }
        #box10{
            background-image: url(../../../images/ស្លរប្រហើរ.jpg);
            background-position: center;
            background-size: cover;
        }
        #box11{
            background-image: url(../../../images/ប្រហិត.png);
            background-position: center;
            background-size: cover;
        }
        #box12{
            background-image: url(../../../images/ឆា.png);
            background-position: center;
            background-size: cover;
        }
    }
}