.text-schedule{
    @include padding;
    text-align: center;
    h1{
        @include h1;
    }
    p{
        padding: 10px;
        font-size: 18px;
    }
}
.schedule {
    padding: 20px 90px;
    display: flex;
    background-color: $wheat;
    justify-content: space-evenly;

    .breakfast {
        @include style-schedule;
        .picture {
            img {
                @include img-schedule;

            }
        }
        .menu{
            @include menu-schedule;
            .text{
                h1{
                    font-size: 29px;
                }
                p{
                   @include p-schedule;
                }
            }
            .n-food{
                .each-food{
                    @include style-g-card;
                    p{
                        padding: 5px 0px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .lunch {
        @include style-schedule;
        .picture {
            img {
                @include img-schedule;
            }
        }
        .menu{
            @include menu-schedule;
            .text{
                h1{
                    font-size: 29px;
                }
                p{
                    @include p-schedule;
    
                }
            }
            .n-food{
                .each-food{
                    @include style-g-card;
                    border-bottom: 4px solid orange;
                    p{
                        padding: 5px 0px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .dinner {
        background-color: orange;
        flex: 1;
        box-shadow: 10px 10px 5px orange;

        .picture {
            img {
                width: 370px;
                margin: 10px 10px;
    

            }
        }
        .menu{
            padding: 10px;
            background-color: white;
            margin: 10px;
            .text{
                h1{
                    font-size: 29px;
                }
                p{
                    color: orange;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            .n-food{
                .each-food{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 4px solid orange;
                    p{
                        padding: 5px 0px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}