.text-schedule {
    @include padding;
    text-align: center;

    @include responsive(tablet) {
        padding: 10px 10px;
    }

    h1 {
        @include h1;

        @include responsive(tablet) {
            width: 60%;
            margin-left: 120px;
        }

        @include responsive(phone) {
            width: 80%;
            margin-left: 20px;
        }
    }

    p {
        padding: 10px;
        font-size: 18px;
    }
}

.schedule {
    padding: 20px 90px;
    display: flex;
    background-color: $wheat;
    justify-content: space-evenly;

    @include responsive(tablet) {
        flex-wrap: wrap;
        gap: 30px;

    }

    .breakfast {
        @include style-schedule;

        .picture {
            img {
                @include img-schedule;
                @include resp(tablet){
                    width: 100%;
                }

            }
        }

        .menu {
            @include menu-schedule;

            .text {
                h1 {
                    font-size: 29px;
                }

                p {
                    @include p-schedule;
                }
            }

            .n-food {
                .each-food {
                    @include style-g-card;

                    p {
                        padding: 5px 0px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .breakfast:hover {
        border: 4px solid white;
    }

    .lunch:hover {
        border: 4px solid white;
    }

    .dinner:hover {
        border: 4px solid white;
    }

    .lunch {
        @include style-schedule;

        .picture {
            img {
                @include img-schedule;
            }
        }

        .menu {
            @include menu-schedule;

            .text {
                h1 {
                    font-size: 29px;
                }

                p {
                    @include p-schedule;

                }
            }

            .n-food {
                .each-food {
                    @include style-g-card;
                    border-bottom: 4px solid orange;

                    p {
                        padding: 5px 0px;
                        font-size: 20px;
                    }
                }
            }
        }

        @include responsive(tablet) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .dinner {
        background-color: orange;
        flex: 1;
        box-shadow: 10px 10px 5px orange;

        .picture {
            img {
                width: 370px;
                margin: 10px 10px;


            }
        }

        .menu {
            padding: 10px;
            background-color: white;
            margin: 10px;

            .text {
                h1 {
                    font-size: 29px;
                }

                p {
                    color: orange;
                    font-weight: bold;
                    font-size: 18px;
                }
            }

            .n-food {
                .each-food {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 4px solid orange;

                    p {
                        padding: 5px 0px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}