.lunch {
    background-color: rgba(245, 222, 179, 0.573);
    padding: 20px 100px;
}

.top {
    padding-top: 20px;
}

.image {
    display: flex;
    justify-content: space-between;
}

.lunch .top img {
    width: 200px;
    height: 200px;
    border: 4px solid orange;
}

.lunch .top .text {
    display: flex;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.lunch .top .text p span {
    color: orange;
    font-weight: bold;
}

.bottom h3 {
    text-align: center;
    color: orange;
    font-size: 25px;
}

.fried-food {
    padding-top: 30px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;
}

.fried-food .name-food .pic img {
    width: 200px;
}

.fried-food .name-food .name h2,
.fried-food .name-food .ingredient,
.soup-food .food-group .card-food .name h2,
.soup-food .food-group .card-food .info-food {
    text-align: center;
    padding: 20px;
}

.fried-food .name-food .name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 20px;
    height: 8vh;
}

.fried-food .name-food .name h2 {
    font-size: 28px;
}

.fried-food .name-food .ingredient,
.soup-food .food-group .card-food .info-food {
    font-size: 18px;
}

.fried-food .name-food .ingredient h4,
.soup-food .food-group .card-food .info-food h4 {
    color: orange;
    font-size: 22px;
}

.soup-food .food-group {
    display: flex;
    flex-wrap: wrap;

}

.soup-food .food-group .card-food {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soup-food .food-group .top {
    background-color: orange;
    height: 7vh;
    width: 380px;
    border-radius: 20px;
    position: relative;
    top: 210px;

}

.soup-food .food-group .center img {
    width: 200px;
    position: relative;
}

.soup-food .food-group .card-food:nth-child(1) .center img,
.soup-food .food-group .card-food:nth-child(5) .center img {
    width: 500px;
}

.soup-food .food-group .card-food .name {
    background-color: orange;
    border-radius: 20px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}