@import "../../group-mixin/variable";
@import "../../group-mixin/mixin";

.lunch {
    @include padding;

    h1 {
        @include info-food;

    }

    .top {
        .image {
            @include style-g-card;
            padding-top: 20px;

            img {
                width: 360px;
            }
        }

        .text {
            display: flex;
            font-size: 20px;
            padding-top: 20px;
            text-align: center;

            p span {
                @include text-contrast;
            }
        }
    }

    .bottom {
        @include df-column;
        padding-top: 20px;

        h3 {
            font-size: 30px;
            text-align: center;
            color: $orange;
            padding: 20px;
        }

        .fried-food {
            @include style-g-card;

            .name-food {
                .pic {
                    img {
                        width: 260px;
                        height: 230px;

                    }
                }
            }

            .name-food:hover {
                @include box-hover;
            }

            .name-food:nth-child(1) {
                .pic {
                    img {
                        width: 260px;
                    }
                }

                .name {
                    @include style-name-food;
                    background-color: $orange;
                }

                .ingredient {
                    @include price-box;
                }

                .ingredient:hover {
                    border: none;
                }

            }

        }

        .soup-food {
            .food-group {
                @include style-g-card;
                padding-top: 20px;

                .card-food:hover {
                    background-color: $white;
                    padding: 10px;

                    .center {
                        img {
                            width: 230px;
                            height: 230px;
                        }
                    }

                    .ingredient {
                        text-align: center;
                        padding-top: 60px;
                    }


                }

                .card-food:nth-child(1) {
                    .center {
                        img {
                            width: 240px;
                        }
                    }
                }

            }
        }
    }


}

img:hover {
    box-shadow: 2px 4px 10px $orange;
}