* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inria Sans', sans-serif;
}

body {
    background-color: white;
}

.about-us h2 {
    text-align: center;
    font-size: 30px;
}

.detail-about-us {
    display: flex;
    justify-content: space-evenly;
}

.about-images img {
    width: 80%;
    margin-left: 50px;
}

.about-text {
    font-size: 25px;
}

.about-text a {
    width: 100px;
    background-color: orange;
    color: black;
    font-size: 20px;
    padding: 6px 10px;
    margin-top: 40px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.card-images1 {
    width: 440px;
    height: 250px;
    background-color: orange;
    border-radius: 80px 0px 0px 80px;
}

.card-images1 img {
    width: 33%;
    position: absolute;
    right: 260px;
    top: 450px;
    cursor: pointer;
}

.card-images2 {
    width: 440px;
    height: 250px;
    background-color: orange;
    border-radius: 80px 0px 0px 80px;
}

.card-images2 img {
    width: 26%;
    position: absolute;
    right: 300px;
    top: 860px;
    cursor: pointer;
}

.card-images3 {
    width: 440px;
    height: 250px;
    background-color: orange;
    border-radius: 80px 0px 0px 80px;
}

.card-images3 img {
    width: 22%;
    position: absolute;
    right: 340px;
    top: 1230px;
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.card h3 {
    width: 120px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    background-color: orange;
}
.about-us,
.lunch,
.dinner,
.breakfast {
    background-color: white;
    margin: 20px;
}

.breakfast-schedule,
.lunch-schedule,
.dinner-schedule {
    display: flex;
    justify-content: space-around;
}

.dinner h2,
.lunch h2,
.breakfast h2 {
    padding: 40px;
    margin-left: 30px;
}

.breakfast-schedule p,
.dinner-schedule p,
.lunch-schedule p {
    font-size: 25px;
    padding: 10px;
}

.food-schedule{
    width: 45%;
}