.card-images1 {
  @include card-size;
}

.card-images1 img {
  width: 36%;
  right: 250px;
  top: 825px;
  @include bg-card;
}

.card-images2 {
  @include card-size;
}

.card-images2 img {
  width: 29%;
  right: 310px;
  top: 1230px;
  @include bg-card;
}

.card-images3 {
  @include card-size;
}

.card-images3 img {
  width: 23%;
  right: 350px;
  top: 1595px;
  @include bg-card;
}

.card-images1:hover{
  border: 5px solid $h1-border;
}

.card-images2:hover{
  border: 5px solid $h1-border;
}

.card-images3:hover{
  border: 5px solid $h1-border;
}

.card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

.card h3 {
  width: 120px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: $orange;
}

.card h3:hover {
  background-color: $h1-border;
  cursor: pointer;
  color: $white;
}

.about-us,
.lunch,
.dinner,
.breakfast {
  background-color: $white;
  margin: 20px;
}

.breakfast-schedule,
.lunch-schedule,
.dinner-schedule {
  display: flex;
  justify-content: space-around;
}

.dinner h2,
.lunch h2,
.breakfast h2 {
  padding: 40px;
  margin-left: 30px;
}

.breakfast-schedule p,
.dinner-schedule p,
.lunch-schedule p {
  font-size: 20px;
  padding: 10px;
}

.food-schedule {
  width: 45%;
}