.chef {
    padding: 20px 90px;

    h1 {
        text-align: center;
        padding: 20px;
    }

    .chef-info {
        display: flex;
        justify-content: space-between;
        @include responsive(tablet){
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        @include responsive(phone){
            display: flex;
            flex-wrap: wrap;
        }

        .info {
            background-color: $orange;

            img {
                width: 400px;
                height: 40vh;
              @include responsive(tablet)  {
                width: 900px;
              }
            }

            .info h2 {
                padding: 10px;
                text-align: center;
            }

            .info p {
                padding: 10px;
                text-align: center;
            }
        }
    }
}